#genre {
    height: auto;
    width: 100%;
    padding-top: 60px;
    position: relative;

    .pagination_container {
        position: relative;
        margin-top: 50px;
    }

    .genre__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px 30px;
    }
}
