.ttcon{
    width: 605px;
    margin: 5% 0 1% 0;
    #html-file c3 {
        color: white;
        background-color: black;
     
     }
     .c3,.c1,.c2,.c4, span.c8, .c3 p,span.c2, span.c1, span.c5 {
         color: white;
         font-family: "Poppins";
     
     }
    .c3 img{
        width: 50%;
    }
}


