html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* Không cần thiết lập overflow-y cho body vì đã thiết lập trong body.css */

#root {
    background-color: #111;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden; /* Ngăn cuộn ngang */
    overflow-y: visible; /* Cho phép nội dung tràn ra ngoài theo chiều dọc */
}

::-webkit-scrollbar {
    width: 5px;
    /* Chiều rộng của thanh cuộn */
}

::-webkit-scrollbar-track {
    background: black;
}

/* Tùy chỉnh màu của thanh cuộn */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

a {
    color: #fff;
    text-decoration: none;
}