.sort {
    display: flex;
    align-items: center;
    justify-content: flex-end; // Đẩy dropdown sang phải
    gap: 10px;
    font-size: 16px;
    color: white;

    @media screen and (max-width: 768px) {
        font-size: 14px;
        gap: 8px;
    }

    @media screen and (max-width: 480px) {
        width: 100%;
        justify-content: flex-start;
        margin-top: 5px;
        font-size: 13px;
        gap: 6px;
    }

    &__label {
        font-weight: bold;

        @media screen and (max-width: 480px) {
            font-weight: normal;
        }
    }

    &__select {
        padding: 8px 12px;
        border-radius: 5px;
        border: 1px solid #555;
        background-color: #222;
        color: white;
        font-size: 16px;
        cursor: pointer;
        transition: all 0.3s ease;

        @media screen and (max-width: 768px) {
            padding: 6px 10px;
            font-size: 14px;
        }

        @media screen and (max-width: 480px) {
            padding: 5px 8px;
            font-size: 13px;
            flex-grow: 1; /* Cho phép select mở rộng để lấp đầy không gian */
            max-width: 70%; /* Giới hạn chiều rộng tối đa */
        }

        &:hover {
            background-color: #333;
        }

        &:focus {
            outline: none;
            border-color: #fd624d; // Viền màu hồng nhạt khi focus
            box-shadow: 0 0 5px rgba(252, 36, 65, 0.815); // Hiệu ứng phát sáng nhẹ
        }
    }
}
