#category_page {
    height: auto;
    width: 94%;
    padding-top: 60px;
    position: relative;

    .pagination_container {
        position: relative;
        margin-top: 50px;
    }

    .category_page__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px 30px;
    }
}

.showdisplay_wrapper {
    padding-top: 60px;
}
