#category_page__container {
    width: 100lvw;
    height: auto;
    position: relative;
}

.category_page {
    height: auto;
    width: 94%;
    margin: 0 auto;
    .pagination_container {
        position: relative;
        margin-top: 50px;
    }

    .category_page__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px 0;
    }
}

.showdisplay__wrapper {
    padding-top: 60px;
}
