:root {
    --trans: 0px;
}

.display {
    position: relative;
    display: flex;
    // margin: 3lvw;
    align-items: center;
    margin: 2lvw 0 2lvw 0;


    .next,
    .back {
        display: none;
        position: absolute;
        z-index: 1;
        height: 10lvw;
        width: 2lvw;
        min-width: 30px;
        color: #fff;
        border: none;
        border-radius: 3px;
        background-color: rgba(128, 128, 128, 0.5);

        &.next {
            right: 7px;
        }

        &.back {
            left: 2px;
        }



    }

    &:hover {

        // .next and .back classes inside the hovered parent
        >.next,
        >.back {
            display: inline;
        }
    }

    .video {

        all: unset;
        position: absolute;
        z-index: 3;
        height: 0px;
        width: 37.5lvw;
        background-color: #151515;
        box-sizing: border-box;
        overflow: hidden;
        border-radius: 5px;
        margin: auto;


        video {
            // height: 216px;
            width: 100%;
            position: absolute;
            top: 0;
        }

        .control {
            position: absolute;
            padding-bottom: 5px;
            bottom: 0;
            width: 100%;
            color: #fff;
            display: grid;
            background: linear-gradient(0deg, rgb(0, 0, 0) 50%, rgba(0, 0, 0, 0) 100%);
            gap: 5px;

            div {
                display: flex;
            }

            button {
                margin: auto;
                text-decoration: none;
                display: flex;
                background: none;
                width: 30%;
                border: none;

                .xem_ngay {
                    background-color: #fff;
                    color: #000;

                }


                div {
                    width: 100%;
                    padding: 7px;
                    // height: 36px;
                    margin: 0 auto;
                    color: #fff;
                    border: 1px solid #fff;
                    border-radius: 2px;
                    background: none;
                    display: flex;
                    text-align: center;
                    /* Căn giữa nội dung */
                    align-items: center;
                    /* Căn dọc */
                    justify-content: center;
                    /* Căn ngang */
                    gap: 5px;

                    * {
                        display: inline-block;
                        /* Cho phép nằm ngang */
                        text-align: center;
                    }
                }

                div:hover {
                    color: #cda208;
                    border: 1px solid #cda208;
                }

            }
        }
    }

    .frame {

        height: 100%;
        width: 100%;
        overflow: hidden;



        .display_list {
            position: relative;
            display: flex;
            transform: translateX(var(--trans));
            transition: all 1s ease;
            align-items: center;
            right: -2lvw;


            .film-container {
                display: grid;
                place-content: center;


                .img {
                    img {
                        width: 15lvw;
                        /*tỉ lệ 16:9*/
                        margin-right: 1lvw;
                    }

                }



            }

        }
    }

}