:root {
    --trans: 0px;
}

.display {
    position: relative;
    display: flex;
    margin: 0 30px 50px;
    height: 80px;

    .next,
    .back {
        position: absolute;
        z-index: 1;
        height: 80px;
        width: 30px;
        color: #fff;
        border: none;
        border-radius: 3px;
        background-color: rgba(128, 128, 128, 0.5);

        &.next {
            right: -20px;
        }

        &.back {
            left: -20px;
        }
    }

    .display_list {
        display: flex;
        transform: translateX(var(--trans));
        transition: all 1s ease;


        .film-container {
            display: grid;
            place-content: center;


            .img {
                position: relative;
                display: grid;
                place-items: center;
                width: 128px;
                height: 72px;
                margin-right: 10px;

                img {
                    height: 72px;
                    width: 128px;
                    margin: 5px;
                }

                &:hover>.video {
                    display: inline;
                    height: 230px;
                    width: 384px;
                    transition: all 0.8s ease 0.8s;
                }


                .video {
                    all: unset;
                    position: absolute;
                    z-index: 3;
                    width: 0;
                    height: 0;
                    background-color: #151515;
                    box-sizing: border-box;
                    overflow: hidden;

                    video {
                        height: 216px;
                        width: 384px;
                    }

                    .control {
                        position: absolute;
                        bottom: 0;
                        width: 100%;
                        color: #fff;
                        display: grid;

                        div {
                            display: flex;
                        }

                        button {
                            text-decoration: none;
                            display: flex;
                            background: none;

                            div {
                                width: 121px;
                                height: 36px;
                                margin-left: 3px;
                                color: #fff;
                                border: 1px solid #fff;
                                border-radius: 2px;
                                background: none;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                            }
                        }
                    }
                }


            }



        }

    }
}